/**
 * "Google Now" Card - https://github.com/iburton/cardui
 */
body {
    background: #e5e5e5;
    min-height: 100%;
    margin: auto;
}
#card1 { -webkit-transition-duration: 0.5s }
div.flip {
    -webkit-transition-duration: 0.5s;
    -webkit-transform: rotateY(90deg);
}
div.topMenu {
    background: #2d2d2d;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0px;
    border-bottom: 1px solid black;
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    color: #dddddd;
    padding-left: 20px;
    padding-top: 5px;
}
div.gNow {
    float: left;
    height: 100%;
    padding: 0;
    margin-top: 35px;
}
div.gNow li {
    float: left;
    width: 100%;
    list-style: none;
    padding: 10px;
}
div.card {
    background: #ffffff;
    position: relative;
    width: 100%;
    padding: 15px;
    box-shadow: 1px 3px rgba( 0, 0, 0, 0.1 );
    font-family: Open Sans;
    word-wrap: break-word;
    color: #444;
    font-size: 14px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #BBBBBB;
    border-radius: 2px;
}
div.card p { margin: 0 0 15px 0 }
div.card p.card-title { font-size: 28px }
div.card p.url {
    border-top: 1px solid #e5e5e5;
    background-image: url('/static/images/url.png');
    background-repeat: no-repeat;
    padding: 6px 0 0 30px;
    height: 30px;
    display: block;
    margin-bottom: -5px;
}
div.card p.url a {
    color: #04bff4;
    text-decoration: none;
    top: 4px;
    display: block;
    position: relative;
}
div.card img.full {
    margin: 0 0 15px -15px;
}
h2.header {
    margin-left: 15px;
    width: 100%;
}
span.cardType {
    color: #b5b5b5;
    position: absolute;
    top: 5px;
    right: 5px;
}
div.container {
    width: 1640px;
    max-width: 1640px;
}
.tech-small {
    width: 50%;
}
.social-small {
    width: 50%;  
}
.tech-large {
    width: 25%;
}
.social-large {
    width: 25%;
}
.all-small {
    width: 100%;
}

@media (min-width: 1600px) {
    .tech-small {
        display: none;
    }
    .social-small {
        display: none;
    }
    .tech-large {
        display: block;
        width: 25%;
    }
    .social-large {
        display: block;
        width: 25%;
    }
    .all-small {
        display: none;
    }
    .tech-small-label {
        display: none;
    }
    .social-small-label {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .tech-small {
        display: none;
    }
    .social-small {
        display: block;
        width: 33%;
    }
    .tech-large {
        display: block;
        width: 33%;
    }
    .social-large {
        display: none;
    }
    .all-small {
        display: none;
    }
    .tech-small-label {
        display: none;
    }
    .social-small-label {
        display: block;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .tech-small {
        display: block;
        width: 50%;
    }
    .social-small {
        display: block;
        width: 50%;
    }
    .tech-large {
        display: none;
    }
    .social-large {
        display: none;
    }
    .all-small {
        display: none;
    }
    .tech-small-label {
        display: block;
    }
    .social-small-label {
        display: block;
    }
}

@media (max-width: 799px) {
    .tech-small {
        display: none;
    }
    .social-small {
        display: none;
    }
    .tech-large {
        display: none;
    }
    .social-large {
        display: none;
    }
    .all-small {
        display: block;
    }
    .tech-small-label {
        display: block;
    }
    .social-small-label {
        display: block;
    }
}
